packages:
    yum:
        polkit: []
        jq: []
        gcc: []
        python3-devel: []
        libcurl-devel: []
        openssl-devel: []
        openssl-static.x86_64: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: aiproduct.wsgi:application
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/health"
    MatcherHTTPCode: "200-399"


container_commands:
  00_get_env_vars:
    command: aws secretsmanager get-secret-value --secret-id ai-product-$(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT)-secrets --region us-east-2 | jq -r '.SecretString' | jq -r "to_entries|map(\"\(.key)=\\\"\(.value|tostring)\\\"\")|.[]" > .env
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true